doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel='stylesheet', href ='/stylesheets/bootstrap.min.css')
    link(rel ='stylesheet', href='/stylesheets/all.min.css')
    link(rel ='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.fixed-top.navbar-expand-md.navbar-light
      .container
        a.navbar-brand(href="/") Loc8r
          button.navbar-toggler(type='buton',data-toggle="collapse",data-target="#nabaarMain")
            span.navbar-toggler-icon
        #navbarMain.navbar-collapse.collapse
        ul.navbar-nav.mr-auto 
          li.nav-item 
            a.nav-link(href="/about/") about
    .container
      block content 

      footer 
      .row
        .col-12
          small &copy; 2021810042_seungyeop you
    script(src="http://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src = "http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js",
    crossorigin='anonymous')
    script(src='/javascripts/bootstrap.min.js')
    block scripts  
    
